<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>

	<comment>보드관련 쿼리문들</comment>
	
	<entry key="selectInterListAN">
		SELECT ANIMAL_NO, CATEGORY_NAME, ANIMAL_NAME, GENDER, NEUTRALIZATION, ANIMAL_AGE, ANIMAL_WEIGHT
		  FROM ANIMAL_INFO
		  JOIN CATEGORY USING(CATEGORY_NO)
		WHERE ANIMAL_NO IN (SELECT ANIMAL_NO
		                      FROM INTEREST_LIST
		                     WHERE USER_NO = ?
		                       AND TYPE = 'A')
	
	
	
	</entry>
	
	<entry key="selectInterListPR">
		SELECT PRODUCT_NO, CATEGORY_NAME, PRODUCT_NAME, PRICE
		  FROM PRODUCT
		  JOIN CATEGORY USING(CATEGORY_NO)
		 WHERE PRODUCT_NO IN (SELECT PRODUCT_NO 
		                      FROM INTEREST_LIST 
		                     WHERE USER_NO = ?
		                       AND TYPE = 'P')
				
	
	
	</entry>
	
	<entry key="selectAdoptComment">
		SELECT COM_NO, USER_NO, COUNT, CREATE_DATE, COM_TITLE
		FROM COMMUNITY
		WHERE USER_NO = ? AND COM_TYPE = 1 AND STATUS = 'Y'
	
	</entry>
	
	<entry key="selectVolunteerComment">
		SELECT COM_NO, USER_NO, CREATE_DATE, COM_TITLE, COUNT
		FROM COMMUNITY
		WHERE USER_NO = ? AND COM_TYPE = 2 AND STATUS = 'Y' ORDER BY CREATE_DATE DESC
	
	
	</entry>
	
	<entry key="selectVolunteerRecruit">
		SELECT COM_NO, USER_NO, CREATE_DATE, COM_TITLE, COUNT
		FROM COMMUNITY
		WHERE USER_NO = ? AND COM_TYPE = 3 AND STATUS = 'Y' ORDER BY CREATE_DATE DESC
	
	
	</entry>
	
	<entry key="selectAnimalPost">
		SELECT ANIMAL_NO, CATEGORY_NAME, ANIMAL_NAME, GENDER, NEUTRALIZATION, ANIMAL_AGE, ANIMAL_WEIGHT
		  FROM ANIMAL_INFO
		  JOIN CATEGORY USING(CATEGORY_NO)
		WHERE USER_NO = ?
		ORDER BY ANIMAL_NO DESC
	
	
	</entry>
	
	


</properties>